:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

body > #root > div {
  height: 100vh;
}
